# Python cache files
__pycache__/

# Virtual Environment
coconut_env/

# Database
*.db
coconut.db

# Environment variables
.env

# Large model files
models/*.h5

# Dataset
dataset/
datasets/
*.jpg
*.jpeg
*.png


# Project specific
product_images/
assets/
*.jpg
*.jpeg
*.png

# Training artifacts
train_history.png

